= render :layout => 'shared/panel', :locals => {:indented => true, :title => evidence.title,
  :buttons => render(:partial => 'evidences/shared/buttons', :locals => {:evidence => evidence})} do
  
  %table
    %tr
      %td.panel-sidebar
        = vote_link_to evidence, 'up', (current_user != nil && (!current_user.voted_as_when_voted_for(evidence) || current_user.voted_as_when_voted_for(evidence) == nil))
        %br/
        %span.score
          %b= evidence.score
        %br/
        = vote_link_to evidence, 'down', (current_user != nil && (current_user.voted_as_when_voted_for(evidence) || current_user.voted_as_when_voted_for(evidence) == nil))
        %br/
        - if evidence.supporting
          .positive Positive
        - else
          .negative Negative
      %td
        = evidence.content
        %br/
        %b References:
        %br/
        = evidence.references