= form_for [@hypothesis, @evidence ||= Evidence.new], :remote => remote, :class => 'form-horizontal' do |f|
  -if @evidence.errors.any?
    #error_explanation
      %h2= "#{pluralize(@evidence.errors.count, "error")} prohibited this evidence from being saved:"
      %ul
        - @evidence.errors.full_messages.each do |msg|
          %li= msg
          
  .fieldset
    .control-group
      = f.label :title, :class => 'control-label'
      .controls
        = f.text_field :title, :class => 'span6'
    .control-group
      = f.label :content, :class => 'control-label'
      .controls
        = f.text_area :content, :class => 'span6'
    .control-group
      = f.label :supporting, :class => 'control-label'
      .controls
        = f.check_box :supporting, :class => 'span6'
    .control-group
      = f.label :references, :class => 'control-label'
      .controls
        = f.text_area :references, :class => 'span6'
    .form-actions
      = f.submit 'Save'