= form_for([@hypothesis, @evidence]) do |f|
  -if @evidence.errors.any?
    #error_explanation
      %h2= "#{pluralize(@evidence.errors.count, "error")} prohibited this evidence from being saved:"
      %ul
        - @evidence.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.label :title
    = f.text_field :title, :class => 'text ui-widget-content ui-corner-all'
  .field
    = f.label :content
    = f.text_area :content, :class => 'text ui-widget-content ui-corner-all'
  .field
    = f.label :supporting
    = f.check_box :supporting, :class => 'text ui-widget-content ui-corner-all'
  .field
    = f.label :references
    = f.text_area :references, :class => 'text ui-widget-content ui-corner-all'
  .actions
    = f.submit 'Save'