= form_for @hypothesis do |f|
  -if @hypothesis.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hypothesis.errors.count, "error")} prohibited this hypothesis from being saved:"
      %ul
        - @hypothesis.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.label :title
    = f.text_field :title, :class => 'text ui-widget-content ui-corner-all'
  .field
    = f.label :content
    = f.text_area :content, :class => 'text ui-widget-content ui-corner-all'
  .field
    = f.label :null_hypothesis
    = f.text_area :null_hypothesis, :class => 'text ui-widget-content ui-corner-all'
  .field
    = f.label :subject
    = render :partial => 'shared/subject', :locals => {:object => 'hypothesis', :allItem => false}
  .field
    = f.label :references
    = f.text_area :references, :class => 'text ui-widget-content ui-corner-all'
  .actions
    = f.submit 'Save'
