%h1 Listing hypotheses

%table
  %tr
    %th Title
    %th Content
    %th Null hypothesis
    %th Subject
    %th References
    %th User
    %th
    %th
    %th

  - @hypotheses.each do |hypothesis|
    %tr
      %td= hypothesis.title
      %td= hypothesis.content
      %td= hypothesis.null_hypothesis
      %td= hypothesis.subject
      %td= hypothesis.references
      %td= hypothesis.user_id
      %td= link_to 'Show', hypothesis
      %td= link_to 'Edit', edit_hypothesis_path(hypothesis)
      %td= link_to 'Destroy', hypothesis, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Hypothesis', new_hypothesis_path
