= render :layout => 'shared/panel', :locals => {:title => @hypothesis.title,
  :buttons => render(:partial => 'hypotheses/shared/buttons', :locals => {:hypothesis => @hypothesis}),
  :outside => content_tag(:div, render(@hypothesis.evidences), :id => "evidences") + render('evidences/new')} do
  
  %table
    %tr
      %td.panel-sidebar
        %b= @hypothesis.score
      %td
        %p
          = @hypothesis.content
        %p
          %b Null hypothesis:
          = @hypothesis.null_hypothesis
        %p
          %b Subject:
          = @hypothesis.subject
        %p
          %b References:
          = @hypothesis.references
          
- content_for :sidebar do
  - if can? :create, Evidence
    = button_to 'New Evidence', new_hypothesis_evidence_path(@hypothesis), :method => 'get'