.hypothesis
  .row-fluid
    .span12
      %h3= @hypothesis.title
  .row-fluid
    .span1
      %b= @hypothesis.score
    .span11
      %p= @hypothesis.content
      %p
        %b Null hypothesis:
        = @hypothesis.null_hypothesis
      %p
        %b Subject:
        = @hypothesis.subject
      %p
        %b References:
        = @hypothesis.references
  .row-fluid
    .span10
      = render :partial => 'shared/user_info', :locals => {:user => @hypothesis.user}
    .span2
      = render :partial => 'hypotheses/shared/buttons', :locals => {:hypothesis => @hypothesis}

%hr

= render :partial => 'evidences/evidence', :collection => @hypothesis.evidences, :spacer_template => 'shared/spacer'
= render 'evidences/new'