#panel-container
  .panel.ui-dialog.ui-widget.ui-widget-content.ui-corner-all
    .panel-header.ui-widget-header.ui-corner-all
      %h2 Resend unlock instructions
      
    .panel-content.ui-dialog-content.ui-widget-content
      = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!
        
        %div
          = f.label :email
          %br/
          = f.email_field :email
          
        %div= f.submit "Resend unlock instructions"
        
    .panel-buttonpane.ui-dialog-buttonpane.ui-widget-content
      = render :partial => "devise/shared/links"