%header.ui-widget-header.ui-corner-all
  - logo = image_tag("logo.png", :alt => "Mypothesis")
  = link_to logo, root_path
  BETA
  
  %nav
    %ul
      %li= link_to "Home", root_path, :class => "navButton"
      %li
        - if user_signed_in?
          %div
            = link_to current_user.full_name, current_user, :id => "profile"
            %button#select Select an action
          %ul#dropDown
            %li
              = link_to "Edit profile", edit_user_registration_path, :method => :get
            %li
              = link_to "Log out", destroy_user_session_path, :method => :delete
              
        - else
          = link_to "Sign in", new_user_session_url, :class => "navButton"