%header.ui-widget-header.ui-corner-all.ui-helper-clearfix
  - logo = image_tag("logo.png", :alt => "Mypothesis")
  = link_to logo, root_path
  
  %nav
    %ul
      %li= link_to "Home", root_path, :class => "navButton"
      - if user_signed_in?
        %li
          = link_to current_user.email, "#", :id => "profile"
          = link_to "Select an action", destroy_user_session_path, :method => :delete, :id => "select"
      - else
        %li= link_to "Sign in", new_user_session_url, :class => "navButton"
