!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => 'Mypothesis is a website that allows people including non-scientists to share their hypotheses, provide evidences for different hypotheses, and rate different evidences.'}
	
    %meta{:name => 'msvalidate.01', :content => 'CBD72E3511EA8B9D7DA7F4E7B64D8146'}
	
    %title= 'Mypothesis: Your Theory' + yield(:title)
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = render 'layouts/analytics'
      
  %body
    = render 'layouts/topbar'
    
    .container-fluid
      .row-fluid
        .span3
          .well
            = yield(:sidebar)
          
        .span9
          - flash.each do |key, msg|
            %div{:class => "alert fade in #{key == :error ? ' alert-error' : (key == :success ? ' alert-success' : '')}"}
              %a.close{:data => {:dismiss => 'alert'}, :href => '#'}!= '&times;'
              %p= msg
            
          = yield
          
      %hr
      
      = render 'layouts/footer'
      
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = javascript_include_tag "application"