= render :layout => 'shared/panel', :locals => {:title => 'Sign up', :buttons => render(:partial => 'devise/shared/links')} do
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    
    %div
      = f.label :name
      %br/
      = f.text_field :name, :class => 'text ui-widget-content ui-corner-all'
      
    %div
      = f.label :email
      %br/
      = f.email_field :email, :class => 'text ui-widget-content ui-corner-all'
      
    %div
      = f.label :password
      %br/
      = f.password_field :password, :class => 'text ui-widget-content ui-corner-all'
      
    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, :class => 'text ui-widget-content ui-corner-all'
      
    %div
      = recaptcha_tags
      
    %div= f.submit 'Sign up'